*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'poppins', sans-serif; 
    font-size: 18px;
}
body{
    margin:4vh ;
}
.container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
 
.data{
    width: 73%;
    border-radius: 3px;
    height: 92vh;
    overflow-y: auto;

}
.fa-circle{
    color:orangered ;
}
.searchBar{
    width: 100%;
    background-color: #eee;
    border-radius: 3px;
    padding: 9px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
input{
    border: none;
    outline: none;
    background: none;
}
.glass:hover{
    color: orangered;
    cursor: pointer;
}
.socialIcons{
    display: flex;
    align-items: center;
    justify-content: center;

}
.fa-brands{
    font-size: 25px;
    margin: 0 10px;
    color: #333;
    cursor: pointer;
}
.fa-brands:hover{
    color:orangered ;
}
/* .top{
    height: 60px;
    border-radius: 3px;
    background-color: #eee;
    display: flex;
    align-items: center;
    justify-content: space-between;
} */